*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: rgb(51, 49, 49);
    font-family: Arial, sans-serif;
    /* border: 2px solid red; */
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    font-size: 12px;
}
.left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90px;
    margin-left:20px ;

}
.right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    margin-right: 20px;
}
.right a :hover{
    text-decoration: underline;
}
.sign{
    width: 70px;
    height: 30px;
    background-color: #4285f4;
    color: white;
    font-weight: bold;
    border-radius: 2px;
    border-style: none;
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 780px;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbox{
    display: flex;
    justify-content: space-between;
    /* position: relative; */
    margin: 20px;
    border-style: none;
    border: none;
    /* border: 2px solid red; */
}
.search{
    width: 450px;
    height: 45px;
    position: relative;
    align-items: center;
    border-radius: 25px;
    border: 2px solid lightgrey;

}
.searchbox :hover{
    box-shadow: 3px 3px 5px lightgray;
}
.icons{
    position: relative;
}

.magnify{
    border: none;
    position: absolute;
    right: 410px;
    top: 10px;

}
.micro{
    border: none;
    position: absolute;
    right: 15px;
    top: 10px;

}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 5px;
}
.buttons button{
    width: 120px;
    height: 36px;
    margin-right: 10px;
    border-style: none;
    color:rgb(117, 104, 104)
}
.btn:hover {
    color: black;
    border: 1px solid lightgray;
    box-shadow: 0.7px 0.7px 0.7px lightgrey;
}


.text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text a{
    text-decoration: underline;
    color: blue;
}
footer{
    background-color:  #f2f2f2;
    width: 100%;
    bottom: 0;
    position: fixed;
    font-size: 14px;
    padding: 20px;

}
.country{
    border-bottom: 1px solid #e4e4e4;
    color:#5f6368;
    padding-bottom: 15px;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}
.navbar a{
    text-decoration: none;
    color:#5f6368;
    margin-right: 5px;

}